/*CSS file for all your CSS needs!*/

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

header {
    background-color: #EAFCFF;
    color: #5F787D;
    text-align: center;
    padding: 30px 0px 0px 0px; /*TRouBLe*/
}

header h1{
    font-family: helvetica, sans-serif;
    font-weight: 100;
    font-size: 60px;
}

header nav {
    font-family: helvetica, sans-serif;
    font-weight:200;
    font-size:28px;
    word-spacing: 12px;
    background-position:center;
    background-color: #6AD3E8;
    padding: 10px 0px 10px 0px ;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: #5F787D;
}

header a:hover {
    color: #000000;
}

header nav a:hover{
    color: #ffffff;
}

article {
    font-family: 'Roboto Slab', monospace, serif;
    line-height: 20px;
    font-weight:100;
    padding: 10px 300px 10px 300px;
}

article p{
    padding:0px 0px 20px 0px; /*TRouBLe*/
    font-weight:400;
}

article ul{
    padding: 0px 0px 20px 30px;
}
    
article h1 {
    padding: 10px 0px 10px 0px; /*TRouBLe*/
    font-weight:100;
    font-size: 30px;
}

aricle h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight:100;
    line-height: 40px;     
}

article h3{
    font-weight:300;
    padding: 0px 0px 10px 0px;
}

img {
   margin: 20px 90px 20px 90px;
}

ul{
    font-weight:400;
}

footer {
    font-family:'Roboto Slab', monospace, serif;
    text-align:center;
    background-color: #6AD3E8;
    padding: 5px 0px 10px 0px;
    line-height: 30px;
}

footer nav{
    word-spacing: 18px;
}

footer a{
    text-decoration:none;
    color: #5F787D;
}

footer a:hover{
    color: #ffffff
}