/*CSS file for all your CSS needs!*/

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

 header {
    background-color: #EAFCFF;
    color: #5F787D;
    text-align: center;
    padding: 20px 0px 0px 0px; /*TRouBLe*/
    }

header h1{
    font-family: helvetica;
    font-weight: 100;
    font-size: 60px;
}

header nav {
    font-family: helvetica;
    font-weight:200;
    font-size:30px;
    word-spacing: 26px;
    background-position:center;
    background-color: #6AD3E8;
    padding: 0px;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: #5F787D;
}

header nav a:hover{
    color: #ffffff;
}

header a:active {
    color: #000;
}

article {
    padding:30px 200px 0px 200px; /*TRouBLe*/
}

footer {
    font-family:'Roboto Slab', serif;
    text-align:center;
    background-color: #6AD3E8;
}

footer nav{
    word-spacing:20px;
}

footer a{
    text-decoration:none;
    color: #5F787D;
}

footer a:hover{
    color: #ffffff
}
    
article {
    font-family: 'Roboto Slab', serif;
    line-height: 20px;
}

article p{
    padding:0px 0px 20px 0px; /*TRouBLe*/
}
    
h1 {
    font-family: 'Roboto Slab', serif;
    font-weight:400;
    padding: 10px 0px 10px 0px; /*TRouBLe*/
}
h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight:100;
}


