/*CSS file for all your CSS needs!*/

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

#wrapper {
    width: 900px;
    border: solid 10px #6AD3E8;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
}

header {
    background-color: #EAFCFF;
    color: #5F787D;
    text-align: center;
    padding: 30px 0  0px 0 ; /*TRouBLe*/
    font-size: 50px;
}

header h1{
    font-family: "Roboto Slab", sans-serif;
    font-weight: 100;
    font-size: 70px;
    width: 100%;
}
header h2{
    padding: 0px;
    padding-bottom: 5px;
}

header a {
    text-decoration: none;
    color: #000;
}

header nav {
    font-family: helvetica, sans-serif;
    font-weight:100;
    font-size:20px;
    word-spacing: 20px;
    align-content:stretch;
    background-color: #6AD3E8;
    padding: 3px 0 3px 0;
}

header a:hover {
    color: #5F787D;
}

header nav a:hover{
    color: #ffffff;
}
header nav a{
    color: #5F787D;
}

body{
    background-color:#6AD3E8;
}
        
article {
    font-family: 'Roboto Slab', monospace, serif;
    line-height: 20px;
    padding: 10px 10% 10px 10%;
    background-color: #fff;
}

article p{
    padding:0px 0px 20px 0px; /*TRouBLe*/
    font-weight:400;
}

article ul{
    padding: 0px 0px 20px 30px;
}
    
article h1 {
    font-family: 'Roboto Slab', serif;
    font-weight:100;
    font-size: 30px;
    line-height:43px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    padding: 5px 0px 5px 0px;
    font-weight:100;
}

article h3{
    font-weight:100;
    padding: 0px 0px 10px 0px;
}

article a{
    color: #5F787D;
}

figure{
    float: left;
    margin: 2% 1% 5% 0;
}

img{
    width: 70%;
}


footer {
    font-family:'Roboto Slab', monospace, serif;
    text-align:center;
    background-color: #6AD3E8;
    padding: 5px 0px 10px 0px;
    line-height: 30px;
    bottom: 0px;
}

footer nav{
    word-spacing: 18px;
}

footer a{
    text-decoration:none;
    color: #5F787D;
}

footer a:hover{
    color: #ffffff
}

#design.html, article{
    text-align: center;
}

#design.html, p, article h1{
    text-align:left;
}

#design.html, footer p{
    text-align:center;
}
    


@media screen and (max-width: 800px) {
    
    #wrapper{
        width:100%;
        border:none;
    }

    article {
        padding: 2%;
        background-color: #fff;
    }
    
    figure{ 
        align-content: center;
        margin: 1%;
    }

    header {
        padding: 10px 0px 0px 0px;
    }
    
    header h1{
        font-size: 40px;
    }

    header nav {
        font-size: 40px;
        word-spacing: 50px;
        margin-top: 10px;
        line-height:1.4;
        text-align: left;
        padding-left: 2%;
}
    img {
        width:50%;
    }
}
    
    
    