/*CSS file for all your CSS needs!*/

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

header {
    background-color: #EAFCFF;
    color: #5F787D;
    text-align: center;
    padding: 30px 0px 0px 0px; /*TRouBLe*/
    font-size: 50px;
}

header h1{
    font-family: "Roboto Slab", sans-serif;
    font-weight: 100;
    font-size: 80px;
}

header a {
    text-decoration: none;
    color: #000;
}


header nav {
    font-family: helvetica, sans-serif;
    font-weight:100;
    font-size:30px;
    word-spacing: 20px;
    background-position:center;
    background-color: #6AD3E8;
    padding: 10px 0px 10px 0px ;
    margin: 0px;
}

header a:hover {
    color: #5F787D;
}

header nav a:hover{
    color: #ffffff;
}
header nav a{
    color: #5F787D;
}

/*body{
    background-color:#6AD3E8;*/

        
article {
    font-family: 'Roboto Slab', monospace, serif;
    line-height: 20px;
    padding: 10px 20% 10px 20%;
    background-color: #fff;
}

article p{
    padding:0px 0px 20px 0px; /*TRouBLe*/
    font-weight:400;
}

article ul{
    padding: 0px 0px 20px 30px;
}
    
article h1 {
    font-family: 'Roboto Slab', serif;
    font-weight:100;
    font-size: 30px;
    line-height:43px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    padding: 5px 0px 5px 0px;
    font-weight:100;
}

article h3{
    font-weight:100;
    padding: 0px 0px 10px 0px;
}

article a{
    color: #5F787D;
}

aside{
    float: left;
    margin: 5% 4% 5% 0;
}

ul{
    font-weight:400;
}

footer {
    font-family:'Roboto Slab', monospace, serif;
    text-align:center;
    background-color: #6AD3E8;
    padding: 5px 0px 10px 0px;
    line-height: 30px;
    bottom: 0px;
    clear:both;
}

footer nav{
    word-spacing: 18px;
}

footer a{
    text-decoration:none;
    color: #5F787D;
}

footer a:hover{
    color: #ffffff
}

@media screen and (max-width: 1000px) {
    

    article {
        padding: 2%;
        background-color: #fff;
    }
    
    aside{ 
        align-content: center;
        margin: 1%;
    }

    header {
        padding: 10px 0px 0px 0px;
    }
    
    header h1{
        font-size: 40px;
    }

    header nav {
        font-size: 20px;
        word-spacing: 5px;
        margin-top: 10px;
    }
    
    