/*CSS file for pages "design.html" and "photography.html"--they needed different treatment because of photographs*/

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

 header {
    background-color: #EAFCFF;
    color: #5F787D;
    text-align: center;
    padding: 10px 0px 0px 0px; /*TRouBLe*/
    }

header h1{
    font-family: helvetica, sans-serif;
    font-weight: 100;
    font-size: 60px;
}

header nav {
    font-family: helvetica, sans-serif;
    font-weight:200;
    font-size:28px;
    word-spacing: 12px;
    background-position:center;
    background-color: #6AD3E8;
    padding: 5px 0px 5px 0px ;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: #5F787D;
}

header nav a:hover{
    color: #ffffff;
}

footer {
    font-family:'Roboto Slab', monospace, serif;
    text-align:center;
    background-color: #6AD3E8;
    padding: 5px 0px 10px 0px;
    line-height: 30px;
}

footer nav{
    word-spacing: 18px;
}

footer a{
    text-decoration:none;
    color: #5F787D;
}

footer a:hover{
    color: #ffffff
}

article {
    padding:30px 100px 30px 100px; /*TRouBLe*/
    font-family: 'Roboto Slab', monospace, serif;
    line-height: 20px;
    text-align:center;
}

article p{
    padding:0px 0px 20px 0px; /*TRouBLe*/
}

article ul{
    padding: 0px 0px 20px 30px;
}
    


article h1{
    font-weight:100;
    font-size: 30px;
    text-align:left;
    padding: 0px 200px 20px 200px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight:100;
    padding: 0px 200px 20px 200px;
    text-align:left;
}

h3{
    font-weight:100;
    text-align:left;
    padding: 0px 200px 20px 200px;
}

img{
    margin: 20px 10px 20px 0;
}

table td{
    align-content:center;
    padding : 20px;
}
