/* I'm too CSS-y for my code*/
*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #1974FF;
}

header{
    padding: 15px 5% 2% 5%%;
    background-color: #6C88B2;
    text-align:center;
}

header h1{
    font-family: Voltaire, sans-serif;
    font-size: 70px; 
    line-height: 60px;
    font-size: 50px;
}
        
header a{ 
    text-decoration: none;
    color: #fff;
}

header nav{
    font-family: Sintony, sans-serif;
    word-spacing: 5px;
    margin-top: 5px;
    padding-top: 5px;
}

header nav a: hover{
    color: #000000;
}

article {
    padding: 10px 5% 2% 5%;
    background-color: #fff;
}

article h1, h2, h3, h4, h5{
    font-family: Sintony, sans-serif;
    padding: 2% 0 2% 0;
    font-size: 25px; 
}


article p {
    font-family: Roboto Slab, serif;
    font-weight: 400;
    padding-top: 5px;
}


img {
    width: 300px;
    margin: 2%;
}

figure {
    font-family: Roboto Slab, serif;
    font-size: 12px;
}

caption {
    caption-side:top;
}

footer{
    padding: 15px 5% 2% 5%;
    text-align:left;
    font-family: Sintony;
    line-height: 30px;
}

@media screen and (max-width: 700px) {

    header{ 
    padding: 15px 5% 2% 5%%;
    text-align: left;
    }

    header nav{
    padding-top: 0px;
}   
    img {
    width: 80%;
}
}